<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfCostCenterPickOrWithdrawInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfCostCenterPickOrWithdrawInfo">
        <id column="cost_center_pick_or_withdraw_info_id" property="costCenterPickOrWithdrawInfoId" />
        <result column="order_no" property="orderNo" />
        <result column="order_type" property="orderType" />
        <result column="made_order_date" property="madeOrderDate" />
        <result column="dept" property="dept" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cost_center_pick_or_withdraw_info_id AS costCenterPickOrWithdrawInfoId, order_no AS orderNo, order_type AS orderType, made_order_date AS madeOrderDate, dept, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

</mapper>
