<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfPartLabelRelationshipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfPartLabelRelationship">
        <id column="cf_part_label_relationship_id" property="cfPartLabelRelationshipId" />
        <result column="item" property="item" />
        <result column="label_template" property="labelTemplate" />
        <result column="remarks" property="remarks" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cf_part_label_relationship_id AS cfPartLabelRelationshipId, item, label_template AS labelTemplate, remarks, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

    <insert id="customInsertOrSaveBatch" parameterType="java.util.List">
        insert into cf_part_label_relationship(
        item,label_template,remarks,created_by,creation_date,last_updated_by,last_update_date
        )VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.item}, #{item.labelTemplate}, #{item.remarks},
            #{item.createdBy}, #{item.creationDate}, #{item.lastUpdatedBy},
            #{item.lastUpdateDate}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        label_template = VALUES( label_template ),remarks = VALUES(remarks),
        last_updated_by = VALUES(last_updated_by),last_update_date = VALUES(last_update_date)
    </insert>

</mapper>
