<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfProcess">
        <id column="process_id" property="processId" />
        <result column="process_no" property="processNo" />
        <result column="process_name" property="processName" />
        <result column="production_task" property="productionTask" />
        <result column="process_date" property="processDate" />
        <result column="object_version_number" property="objectVersionNumber" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        process_id AS processId, process_no AS processNo, process_name AS processName, production_task AS productionTask, process_date AS processDate, object_version_number AS objectVersionNumber, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

</mapper>
