<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfPurchaseReceiptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfPurchaseReceipt">
        <id column="spare_parts_receiving_id" property="sparePartsReceivingId" />
        <result column="purchase_order_no" property="purchaseOrderNo" />
        <result column="materials_no" property="materialsNo" />
        <result column="materials_name" property="materialsName" />
        <result column="depository" property="depository" />
        <result column="order_number" property="orderNumber" />
        <result column="received_number" property="receivedNumber" />
        <result column="supplier" property="supplier" />
        <result column="purchasing_receiving_date" property="purchasingReceivingDate" />
        <result column="status" property="status" />
        <result column="pending_area" property="pendingArea" />
        <result column="received_total_number" property="receivedTotalNumber" />
        <result column="object_version_number" property="objectVersionNumber" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        spare_parts_receiving_id AS sparePartsReceivingId, purchase_order_no AS purchaseOrderNo, materials_no AS materialsNo, materials_name AS materialsName, depository, order_number AS orderNumber, received_number AS receivedNumber, supplier, purchasing_receiving_date AS purchasingReceivingDate, status, pending_area AS pendingArea, received_total_number AS receivedTotalNumber, object_version_number AS objectVersionNumber, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

</mapper>
