<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfReturnedOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfReturnedOrder">
        <id column="returned_purchase_id" property="returnedPurchaseId" />
        <result column="returned_purchase_order" property="returnedPurchaseOrder" />
        <result column="materials_no" property="materialsNo" />
        <result column="actual_quantity" property="actualQuantity" />
        <result column="materials_name" property="materialsName" />
        <result column="supplier" property="supplier" />
        <result column="object_version_number" property="objectVersionNumber" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        returned_purchase_order AS returnedPurchaseOrder, returned_purchase_id AS returnedPurchaseId, materials_no AS materialsNo, actual_quantity AS actualQuantity, materials_name AS materialsName, supplier, object_version_number AS objectVersionNumber, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

</mapper>
