<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfSaleNextNumberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfSaleNextNumber">
        <id column="sale_next_number_id" property="saleNextNumberId" />
        <result column="sale_order" property="saleOrder" />
        <result column="description" property="description" />
        <result column="prefix" property="prefix" />
        <result column="suffix" property="suffix" />
        <result column="sequence_length" property="sequenceLength" />
        <result column="current_sequence" property="currentSequence" />
        <result column="min_sequence" property="minSequence" />
        <result column="incr" property="incr" />
        <result column="reset" property="reset" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sale_next_number_id AS saleNextNumberId, sale_order AS saleOrder, description, prefix, suffix, sequence_length AS sequenceLength, current_sequence AS currentSequence, min_sequence AS minSequence, incr, reset, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

    <!--行锁查询-->
    <select id="selectBySaleOrderForUpdate" resultMap="BaseResultMap">
        SELECT *
        FROM cf_sale_next_number
        WHERE sale_order = #{saleOrder}
        FOR UPDATE
    </select>

</mapper>
