<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfmoto.bar.code.mapper.CfSaleInvoiceRootMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cfmoto.bar.code.model.entity.CfSaleInvoiceRoot">
        <id column="invoice_root_id" property="invoiceRootId" />
        <result column="department" property="department" />
        <result column="invoice_no" property="invoiceNo" />
        <result column="created_by" property="createdBy" />
        <result column="creation_date" property="creationDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="invoice_state" property="invoiceState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        invoice_root_id AS invoiceRootId,invoiceState as invoiceState , department, invoice_no AS invoiceNo, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate
    </sql>

</mapper>
